<div class="container-fluid">
    <h1 class="m-t-0 center m-b-30">Directorio</h1>
    <div class="row m-b-15">
        <div class="col-lg-7"></div>
        <div class="col-lg-3">
            <div class="form-group has-feedback" >
              <label for="search" class="sr-only">Search</label>
              <input  type="text" class="form-control" name="search" id="search" placeholder="Buscar" ng-model="vm.searchTramite">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-warning w-100" ng-click="vm.openModalDirectory()">Nuevo</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
            <thead class="inverseTable">
                <tr>
                    <th class="col-lg-5">Nombre</th>
                    <th class="col-lg-3">Cargo</th>
                    <th class="col-lg-3">Correo electronico</th>
                    <th class="col-lg-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="servidor in vm.directory">
                    <td class="em-150">{{servidor.nombre}}</td>
                    <td class="em-150">{{servidor.cargo}}</td>
                    <td class="em-150">{{servidor.correo}}</td>
                    <td>
                        <div  class="dropup"  align="center">
                            <i  class="zmdi zmdi-plus-circle zmdi-hc-2x cursor-pointer dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li class="cursor-pointer"><a ng-click="vm.editComment(comentario.comentario, comentario.$key)">Editar</a></li>
                            <li class="cursor-pointer"><a ng-click="vm.deleteComment(comentario.$key)">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>