<!--<div class="row m-t-15" ng-app="proyectoBaseAngularJsApp">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" style="font-size:3em" href="#"><b>IHJ</b></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#!news" style="font-size:1.5em" href="#">Noticias</a></li>
            <li><a href="#!events" style="font-size:1.5em">Eventos</a></li>
            <li><a href="#!galery" style="font-size:1.5em">Galeria</a></li>
            <li><a href="#!directory" style="font-size:1.5em">Directorio</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-lg-1"></div>
</div>-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" style="font-size:3em" href="#"><b>IHJ</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#!news" style="font-size:1.5em" href="#">Noticias</a></li>
        <li><a href="#!events" style="font-size:1.5em">Eventos</a></li>
        <li><a href="#!galery" style="font-size:1.5em">Galeria</a></li>
        <li><a href="#!directory" style="font-size:1.5em">Directorio</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>
</nav>