<div class="container-fluid">
    <h1 class="m-t-0 center m-b-30">Noticias</h1>
    <div class="row m-b-15">
        <div class="col-lg-7"></div>
        <div class="col-lg-3">
            <div class="form-group has-feedback" >
              <label for="search" class="sr-only">Search</label>
              <input  type="text" class="form-control" name="search" id="search" placeholder="Buscar" ng-model="vm.searchTramite">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-warning w-100" ng-click="vm.openModalNews()">Nueva</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
            <thead class="inverseTable">
                <tr>
                    <th class="col-lg-8">Encabezado</th>
                    <th class="col-lg-2">Foto</th>
                    <th class="col-lg-2">Me gusta</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="new in vm.news">
                    <td>{{new.titulo}}</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>