<div class="container-fluid">
    <h1 class="m-t-0 center m-b-30">Noticias</h1>
    <div class="row m-b-15">
        <div class="col-lg-7"></div>
        <div class="col-lg-3">
            <div class="form-group has-feedback" >
              <label for="search" class="sr-only">Search</label>
              <input  type="text" class="form-control" name="search" id="search" placeholder="Buscar" ng-model="vm.searchTramite">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-warning w-100" ng-click="vm.openModalNews()">Nueva</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
            <thead class="inverseTable">
                <tr>
                    <th class="col-lg-5">Encabezado</th>
                    <th class="col-lg-3 center">Foto</th>
                    <th class="col-lg-3 center">Me gusta</th>
                    <th class="col-lg-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="new in vm.news | toArray">
                    <td class="em-150">{{new.encabezado}}</td>
                    <td class="center"><button type="button" ng-click="vm.seePhoto(new.rutaFoto)" class="btn btn-primary">Ver Foto</button></td>
                    <td class="center em-150">{{new.meGusta}}</td>
                    <td>
                        <div  class="dropup"  align="center">
                            <i  class="zmdi zmdi-plus-circle zmdi-hc-2x cursor-pointer dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu dropdown-menu-right">
                            <li class="cursor-pointer"><a ng-click="vm.editComment(comentario.comentario, comentario.$key)">Editar</a></li>
                            <li class="cursor-pointer"><a ng-click="vm.removeNews(new.$key, new.nombreFoto)">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>